<!-- Fixed Navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <a class="navbar-brand" href="#">
    <span class="brand-name">Gitbeng</span>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://github.com/art-abdulwadud"
          target="_blank"
          >Find me on Github</a
        >
      </li>
    </ul>
  </div>
</nav>
